@font-face {
    font-family: MilfordBlack;
    src: url('./assets/best-horror-scenes/Milford-Black.ttf.eot');
    src: url('./assets/best-horror-scenes/Milford-Black.ttf.woff') format('woff'),
         url('./assets/best-horror-scenes/Milford-Black.ttf.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

$color: #e7473c;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
    background-color: $color;
    font-family: Univers,Helvetica Neue,Helvetica,Myriad Pro,Myriad,Geneva,Arial,sans-serif;
    font-size: 10px;
    line-height: 1;
}
img {
    width: 100%;
    max-width: 100%;
}
.wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    width: 33%;
    height: 100vh;
    background-color: #f0f0f0;
    color: $color;

    &__group {
        padding: 10vh 0 0 7.2rem;
        font-size: 4rem;
        flex: 1;
    }
    &__bottom {
        padding: 7.2rem;
    }
    &__desc {
        margin-bottom: 2rem;
        font-size: 2rem;
        &--black {
            color: #000;
        }
    }
    &__nav {
        margin-bottom: 3rem;
    }
    &__link {
        font-size: 1.9rem;
        color: #000;
        margin-right: 1rem;
    }

}
.main {
    width: calc( 100vw - 33% );
}
.nav {
    position: sticky;
    top: 0;
    background-color: #000;
    &__text {
        padding: 6rem 14.4rem;
    }
}
.section {
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}
.article {
    padding: calc(10vh + .9em) 144px 98px;
    &__header {

    }
    &__title {
        margin: 0;
        font-family: MilfordBlack,sans-serif;
        font-size: 5rem;
        color: #fff;
    }
}

@media (max-width: 839px) {
    .wrap {
        flex-direction: column;
    }
    .header {
        position: relative;
        width: 100%;
    }
    .main {
        width: 100%;
    }
    .article {
        padding: 5.4rem 4.8rem;
    }
}